<div lang="en">

    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->

            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder"><a routerLink="/projects">DevOps</a></h2>
                                            <p>DevOps Pipeline: Designing and managing an automated DevOps pipeline for Spring (backend) and Angular (frontend) applications, enhancing development efficiency and security while reducing time to market. <br>
                                              Keywords: Jenkins - Docker - Git - Nexus - Junit - MySQL - Sonar - CI/CD - Grafana - Prometheus</p>
                                              <img class="img-fluid" src="../../assets/architecture.jpeg" alt="..." />

                                            </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder"><a href="https://github.com/mouhamedkl/CampingGo">CampingGo</a></h2>
                                            <p>Back-end with Spring: CRUD management for the 'Equipment' class, online payments and integration of ChatGPT.
                                              Front-end with Angular: Integrating services into the user interface.

                                              <li>Deployment of the web application. <br>
                                              Keywords: Angular - TypeScript - Spring Boot - Java - Bootstrap - MySQL - Docker - Kubernetes - Git - Azure</p>
                                              <img class="img-fluid" src="../../assets/go.png"  alt="..." />

                                            </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                             <!-- Project Card 3-->
                             <div class="card overflow-hidden shadow rounded-4 border-0">
                              <div class="card-body p-0">
                                  <div class="d-flex align-items-center">
                                      <div class="p-5">
                                          <h2 class="fw-bolder"><a href="https://github.com/mouhamedkl/learning-front">learnUP</a></h2>
                                          <p>an online learning platform with Angular, creating a dynamic and friendly user experience. Optimization of
                                            the interface for intuitive navigation and optimal immersion in the interactive learning modules. <br>
                                            Keywords: Bootstrap - TypeScript - html5 - Css3 - Angular</p>
                                            <img class="img-fluid" src="../../assets/354479018_1613246142495215_3853932723907120440_n.png"  alt="..." />

                                          </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/contact">Contact me</a>
                    </div>
                </div>
            </section>


        </main>
        <!-- Footer-->

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
  </div>
