<div lang="en">

    <body class="d-flex flex-column">
        <main class="flex-shrink-0">

            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                            <h1 class="fw-bolder">Get in touch</h1>
                            <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">

                                <form #contactForm="ngForm" (ngSubmit)="submitForm()" *ngIf="!formSubmitted">
                                  <!-- Name input-->
                                  <div class="form-floating mb-3">
                                      <input class="form-control" id="name" type="text" placeholder="Enter your name..." [(ngModel)]="contact.name" name="name" #name="ngModel" required />
                                      <label for="name">Full name</label>
                                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">A name is required.</div>                                  </div>
                                  <!-- Email address input-->
                                  <div class="form-floating mb-3">
                                      <input class="form-control" id="email" type="email" placeholder="name@example.com" [(ngModel)]="contact.email" name="email" #email="ngModel" required />
                                      <label for="email">Email address</label>
                                      <div class="invalid-feedback">
                                          <div *ngIf="email.touched && email.errors?.['required']">An email is required.</div>
                                          <div *ngIf="email.errors?.['email']">Email is not valid.</div>
                                      </div>
                                  </div>
                                  <!-- Phone number input-->
                                  <div class="form-floating mb-3">
                                      <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" [(ngModel)]="contact.num" name="num" #phone="ngModel" required />
                                      <label for="phone">Phone number</label>
                                      <div *ngIf="phone.touched && phone.errors?.['required']" class="invalid-feedback">A phone number is required.</div>
                                  </div>
                                  <!-- Message input-->
                                  <div class="form-floating mb-3">
                                      <textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 10rem" [(ngModel)]="contact.message" name="message" #message="ngModel" required></textarea>
                                      <label for="message">Message</label>
                                      <div *ngIf="message.touched && message.errors?.['required']" class="invalid-feedback">A message is required.</div>
                                  </div>
                                  <!-- Submit Button-->
                                  <div class="d-grid">
                                      <button class="btn btn-primary btn-lg" id="submitButton" type="submit" [disabled]="!contactForm.form.valid">Submit</button>
                                  </div>
                              </form>
<div class="text-center" style="color: red;" *ngIf="formSubmitted">Email sent successfully!</div>



                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </body>
</div>
