<main class="flex-shrink-0">
  <!-- Navigation-->

  <!-- Page Content-->
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Curriculum Vitae</span>
      </h1>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-12 col-xl-10 col-xxl-10">
        <!-- Section Expérience-->
        <!-- Section Expérience-->
        <section>
            <h2 class="text-secondary fw-bolder mb-4">Expérience</h2>

          <!-- Carte Expérience 1 -->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">04/2024-10/2024</div>
                    <div class="small fw-bolder">
                        Stage de Projet de Fin d'Études</div>
                    <div class="small text-muted">HORIZOP ENERGY</div>
                    <div class="small text-muted">Tunis, Tunisie</div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <ul>
                    <li>
                      <strong>Mise en place de Spring Security</strong> pour
                      sécuriser l'accès des utilisateurs et administrateurs.
                    </li>
                    <li>
                      <strong>Gestion complète</strong> des produits, commandes,
                      précommandes, carrières et réclamations.
                    </li>
                    <li>
                      <strong>Tests unitaires et validation</strong> du backend
                      Spring Boot avec JUnit et Mockito pour garantir sa
                      fiabilité.
                    </li>
                    <li>
                      <strong>Développement d'un tableau de bord</strong>
                      interactif permettant la gestion efficace des produits,
                      commandes, précommandes, carrières et réclamations.
                    </li>
                    <li>
                      <strong>Implémentation d'un pipeline CI/CD</strong> pour
                      automatiser le déploiement et l'intégration continue.
                    </li>
                    <li>
                      <strong>Mot-clés :</strong> Spring, Spring Security,
                      Angular, TypeScript, MySQL, Prometheus, Hibernate, Docker,
                      Jenkins, Grafana, SonarQube, Nexus, Git, JUnit.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Carte Expérience 2 -->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">07/2023-09/2023</div>
                    <div class="small fw-bolder">Stagiaire en développement web</div>
                    <div class="small text-muted">Digital Natives</div>
                    <div class="small text-muted">Tunis, Tunisie</div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <ul>
                    <li>
                      <strong>Gestion de l'authentification sécurisée</strong>
                      pour garantir la protection des comptes utilisateurs.
                    </li>
                    <li>
                      <strong
                        >Intégration des systèmes de paiement Stripe</strong
                      >
                      pour permettre des transactions en ligne sécurisées.
                    </li>
                    <li>
                      <strong
                        >Gestion des réclamations, commandes et
                        réservations</strong
                      >
                      pour assurer un suivi efficace des demandes clients.
                    </li>
                    <li>
                      <strong>Création d'interfaces</strong> dédiées pour chaque
                      module afin d'améliorer l'expérience utilisateur.
                    </li>
                    <li>
                      <strong>Mot-clés :</strong> Node.js, Express.js, MySQL,
                      CSS3, HTML5, Angular, TypeScript, Git.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Carte Expérience 3 -->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">06/2022-07/2022</div>
                    <div class="small fw-bolder">Stagiaire en développement web</div>
                    <div class="small text-muted">ESPRITTECH</div>
                    <div class="small text-muted">Tunis, Tunisie</div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <ul>
                    <li>
                      <strong
                        >Gestion de l'authentification, des utilisateurs et des
                        offres</strong
                      >
                      pour assurer un accès sécurisé et une gestion efficace.
                    </li>
                    <li>
                      <strong
                        >Développement d'un système d'extraction automatique des
                        données</strong
                      >
                      depuis les e-mails pour automatiser le traitement des
                      informations.
                    </li>
                    <li>
                      <strong>Création d'interfaces</strong> dédiées pour chaque
                      module afin d'améliorer l'expérience utilisateur.
                    </li>
                    <li>
                      <strong>Mot-clés :</strong> Python, Flask, MySQL, CSS3,
                      HTML5, Angular, TypeScript, Git.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section Éducation-->
        <section>
          <h2 class="text-secondary fw-bolder mb-4">Éducation</h2>
          <!-- Carte Éducation 1-->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-secondary fw-bolder mb-2">2021 - 2025</div>
                    <div class="mb-2">
                      <div class="small fw-bolder">ESPRIT</div>
                      <div class="small text-muted">Elghazella, Ariana</div>
                    </div>
                    <div class="fst-italic">
                      <div class="small text-muted"></div>
                      <div class="small text-muted"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div>
                    Diplôme National dʼIngénieur en Informatique                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-secondary fw-bolder mb-2">2017 - 2021</div>
                    <div class="mb-2">
                      <div class="small fw-bolder">Iset Rades</div>
                      <div class="small text-muted">Rades, ben arous</div>
                    </div>
                    <div class="fst-italic">
                      <div class="small text-muted"></div>
                      <div class="small text-muted"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div>
                    Diplôme National de Licence Appliquée                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Carte Éducation 2-->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-secondary fw-bolder mb-2">2013 - 2017</div>
                    <div class="mb-2">
                      <div class="small fw-bolder">Lycée Chebbi</div>
                      <div class="small text-muted">Tunis, Tunisie</div>
                    </div>
                    <div class="fst-italic">
                      <div class="small text-muted"></div>
                      <div class="small text-muted"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div>Baccalauréat Section Informatique</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Section Compétences-->
        <section>
          <!-- Carte Compétences-->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <!-- Liste des compétences professionnelles-->
              <div class="mb-5">
                <div class="d-flex align-items-center mb-4">
                  <div
                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                  >
                    <i class="bi bi-tools"></i>
                  </div>
                  <h3 class="fw-bolder mb-0">
                    <span class="text-gradient d-inline">Compétences</span>
                  </h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-4">
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                    Bootstrap 
                    </div>
                  </div>
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Mysql
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      PostgreSQL
                    </div>
                  </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Docker
                    </div>
                  </div>
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Angular
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Spring-Boot
                    </div>
                  </div>
                </div>
                <br />
                <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Devops
                    </div>
                  </div>
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      ExpressJs
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      NestJs
                    </div>
                  </div>
                </div>
                <br />
                <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Css
                    </div>
                  </div>
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      HTML
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                    MongoDB 
                    </div>
                  </div>
                </div>
                <br>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Grafana
                      </div>
                    </div>
                    <div class="col mb-4 mb-md-0">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Prometheus
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Nexus
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row row-cols-1 row-cols-md-3">
                      <div class="col mb-4 mb-md-0">
                        <div
                          class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                        >
                        Selenium 
                        </div>
                      </div>
                      <div class="col mb-4 mb-md-0">
                        <div
                          class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                        >
                        Swagger
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                        >
                        Postman 
                        </div>
                      </div>
                    </div>
                  <br>
                  <div class="row row-cols-1 row-cols-md-3">
                      <div class="col mb-4 mb-md-0">
                        <div
                          class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                        >
                          Spring Data JPA
                        </div>
                      </div>
                      <div class="col mb-4 mb-md-0">
                        <div
                          class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                        >
                          SonarQube
                        </div>
                      </div>
                      <div class="col">
                        <div
                          class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                        >
                          Junit
                        </div>
                      </div>
                    </div>
              </div>
              <!-- Liste des Langues-->
              <div class="mb-0">
                <div class="d-flex align-items-center mb-4">
                  <div
                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                  >
                    <i class="bi bi-code-slash"></i>
                  </div>
                  <h3 class="fw-bolder mb-0">
                    <span class="text-gradient d-inline">Langues</span>
                  </h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-4">
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Java
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      JavaScript
                    </div>
                  </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                      Python
                    </div>
                  </div>
                  <div class="col mb-4 mb-md-0">
                    <div
                      class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                    >
                    TypeScript  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
