<main class="flex-shrink-0">
    <!-- Navigation-->

    <!-- Page Content-->
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Curriculum Vitae</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Section Expérience-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <!-- <h2 class="text-primary fw-bolder mb-0">Cv</h2> -->
                        <!-- Bouton pour télécharger le CV-->
                        <a class="btn btn-primary py-3 ms-auto" target="_blank" href="../../assets/cv.pdf">
                            <div class="d-inline-block bi bi-download me-2 "></div>
                            Télécharger le CV
                        </a>
                    </div>
                    <!-- Carte Expérience 1-->
                    <!-- <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">07/-09/2023</div>
                                        <div class="small fw-bolder">Développeur Web</div>
                                        <div class="small text-muted">ESPRIT</div>
                                        <div class="small text-muted">Tunis, Tunisie</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>Une application web automatisée pour extraire les données des offres d'emploi ou de stage reçues par email, stocker ces informations dans une base de données et permettre leur affichage dans l'interface utilisateur. Ce projet a été réalisé dans le cadre d'un stage de 2 mois.</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Carte Expérience 2-->
                    <!-- <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">06/-07/2023</div>
                                        <div class="small fw-bolder">Développeur Web</div>
                                        <div class="small text-muted">Digital Natives</div>
                                        <div class="small text-muted">Tunis, Tunisie</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>Une application de restauration rapide simplifie le processus de commande, permettant aux clients de personnaliser et de passer rapidement leurs commandes de fast-food préférées. Elle offre des fonctionnalités telles que le suivi en temps réel des commandes et un paiement sécurisé pour une expérience culinaire pratique.</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </section>
                <!-- Section Éducation-->
                <!-- <section> -->
                    <!-- <h2 class="text-secondary fw-bolder mb-4">Éducation</h2> -->
                    <!-- Carte Éducation 1-->
                    <!-- <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">2021 - 2024</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">ESPRIT</div>
                                            <div class="small text-muted">Elghazella, Ariana</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted"></div>
                                            <div class="small text-muted">Cloud Computing</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>École supérieure privée d'ingénierie et de technologies</div></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- Carte Éducation 2-->
                    <!-- <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">2013 - 2017</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">Lycée Chebbi</div>
                                            <div class="small text-muted">Tunis, Tunisie</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted"></div>
                                            <div class="small text-muted">Informatique</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>Baccalauréat Section Informatique</div></div>
                            </div>
                        </div>
                    </div> -->
                <!-- </section> -->
                <!-- Section Compétences-->
                <section>
                    <!-- Carte Compétences-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Liste des compétences professionnelles-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Compétences</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> Flask</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Mysql</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">PostgreSQL</div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Docker</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Angular</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Spring-Boot</div></div>
                                </div>
                                <br>
                                <div class="row row-cols-1 row-cols-md-3 ">
                                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Devops</div></div>
                                  <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">ExpressJs</div></div>
                                  <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">NestJs</div></div>
                              </div>
                              <br>
                              <div class="row row-cols-1 row-cols-md-3 ">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Css</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">.Net</div></div>
                            </div>
                            </div>
                            <!-- Liste des Langues-->
                            <div class="mb-0">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Langues</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">#C</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
